.footer{
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 5px;
}
.socialicons{
    font-size: 30px;
    
}

.fa-brands{
    color: pink;
}
.about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.info{
    text-align: center;
}
.info p{
    font-size:16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.info h5{
    font-size: 40px;
    color: black;
    cursor: pointer;
}