.footer{
    background-color: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 5px;
}
.socialicons{
    font-size: 30px;
    
}

.fa-brands{
    color: pink;
}