
    body , html {
        margin: 0;
        height: 100%;
    }
     
     .but{
        padding: 8px;
        border-radius: 15px;
        box-shadow: 2px 4px 8px black;
        cursor: pointer;
     }
     
   
    .Products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-right: 100px;
        margin-left: 100px;
        row-gap: 20px; 
        padding: 20px;

             
        
    }
   
    input[type=text]{
      width: 100px;
      transition: 0.5s ease-in-out;
    }
    input[type=text]:focus{
      width: 70%;
    }         
    .src{
      position: absolute;
     top: 0;
     right: 0;
     padding: 30px;
    }
     .cards{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 20px;
        border: 4 px solid rgb(253 215 233);
        margin: 20px;
        border-radius: 20px;
    }
    .cards{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    }
    .cards button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        border-radius: 15px;
      }
      .cards button:hover{
        opacity: 0.7;
      }
      .primg img{
        
        border-radius: 10px;
      }
      
      .primg{
        cursor: pointer;
      }
      .primg:hover{
        opacity: 0.7;
      }
      .col{
        position: relative;
      }
      .cont{
        position: relative;
      }
      .slide img{
        width: 100%;
      }
      .arithmisi{
        top: 10px;
        left: 10px;
        color: white;
        font-size: 30px;
        position: absolute;
      }
      .content{
        transform: translate(-50%);
        bottom: 10%;
        left: 50%;
        color: white;
        position: absolute;
      }
      .content button{
        font-size: 25px;
        border: 2px solid black;
        cursor: pointer;
        padding: 10px 40px;
        background-color: white;

      }
      .content button:hover{
        opacity: 0.8;
      }
      @media screen and (max-width:1400px){
        .primg img{
          width: 200px;
          height: 378px;
        }
        }
        @media screen and (max-width:700px){
          .primg img{
            width: 140px;
            height: 240px;
          }
          .cards{
            padding: 5px;
            margin: 2px;
            
          }
          .Products{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            margin: 0;
            column-gap: 5px;
          }
          .col img{
            height: 180px;
            width: 100%;
          }
          .col .src{
            top: 0;
            right: 0;
            padding: 5px;
            
          }
          .content button{
            font-size: 15px;
            padding: 5px 20px;
          }
          input[type=text]{
            width: 100px;
            transition: 0.5s ease-in-out;
          }
          input[type=text]:focus{
            width: 70%;
          }         
          }